.header-dashboard {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background: var(--color-background-gradient);
  padding-left: 20px;
  border-bottom: 1px solid var(--color-border);
  /* Toggle Sidebar Button */
  /* Search Bar */
}

.header-dashboard .toggle-sidebar-btn {
  font-size: 32px;
  padding-right: 10px;
  cursor: pointer;
}

.header-dashboard .search-bar {
  min-width: 360px;
  padding: 0 20px;
}

@media (max-width: 1199px) {
  .header-dashboard .search-bar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: white;
    z-index: 9999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }

  .header-dashboard .search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

.header-dashboard .search-form {
  width: 100%;
}

.header-dashboard .search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
  width: 100%;
}

.header-dashboard .search-form input:focus,
.header-dashboard .search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}

.header-dashboard .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}

.header-dashboard .search-form button i {
  color: #012970;
}

/*--------------------------------------------------------------
  # Header Nav
  --------------------------------------------------------------*/
.header-nav-dashboard ul {
  list-style: none;
}

.header-nav-dashboard > ul {
  margin: 0;
  padding: 0;
}

.header-nav-dashboard .nav-icon {
  font-size: 22px;
  color: var(--color-icon);
  margin-right: 25px;
  position: relative;
}

.header-nav-dashboard .nav-profile {
  color: var(--color-title);
}

.header-nav-dashboard .nav-profile img {
  height: 36px;
  width: 36px;
  object-fit: cover;
}

.header-nav-dashboard .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}

.header-nav-dashboard .badge-number {
  position: absolute;
  inset: 5px 10px auto auto;
  font-weight: normal !important;
  font-size: 12px !important;
  padding: 3px 6px !important;
}

.header-nav-dashboard .notifications {
  inset: 8px -15px auto auto !important;
}

.header-nav-dashboard .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav-dashboard .notifications .notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}

.header-nav-dashboard .notifications .notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.header-nav-dashboard .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav-dashboard .notifications .notification-item:hover {
  background-color: #f6f9ff;
}

.header-nav-dashboard .messages {
  inset: 8px -15px auto auto !important;
}

.header-nav-dashboard .messages .message-item {
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav-dashboard .messages .message-item a {
  display: flex;
}

.header-nav-dashboard .messages .message-item img {
  margin: 0 20px 0 10px;
  max-height: 40px;
}

.header-nav-dashboard .messages .message-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444444;
}

.header-nav-dashboard .messages .message-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav-dashboard .messages .message-item:hover {
  background-color: #f6f9ff;
}

.header-nav-dashboard .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}

.header-nav-dashboard .profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #444444;
}

.header-nav-dashboard .profile .dropdown-header span {
  font-size: 14px;
}

.header-nav-dashboard .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.header-nav-dashboard .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.header-nav-dashboard .profile .dropdown-item:hover {
  background-color: #f6f9ff;
}

.header-dashboard .logo span {
  font-size: 26px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
}

.header-dashboard .logo img {
  max-height: 26px;
  margin-right: 6px;
}
.header-dashboard .badge {
  --bs-badge-padding-x: 0.65em;
  --bs-badge-padding-y: 0.35em;
  --bs-badge-font-size: 0.75em;
  --bs-badge-font-weight: 700;
  --bs-badge-color: #fff;
  --bs-badge-border-radius: var(--bs-border-radius);
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  color: var(--bs-badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 5px;
}

.header-dashboard .dropdown-menu {
  min-width: 20rem;
  border: none;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
  animation-name: dropdown-animate;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  max-height: 500px;
  overflow: scroll;
}
.header-dashboard .dropdown-divider {
  margin: 0;
}

.header-nav-dashboard .notifications .readed {
  background-color: #f6f9ff;
}
