#header {
  top: 0;
  min-height: 79px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  z-index: 997;
  /* padding: 15px 0; */
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
  background: var(--color-background-gradient);
}
#header.header-scrolled {
  top: 0;
}
#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
#header .logo a {
  color: var(--color-logo);
}
#header .logo .logo-container {
  height: 70px;
}

#header .logo .logo-container img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.logo-container {
  height: 40px;
  position: relative;
}

.logo-container .eyes {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 25%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  border-radius: 10px;
}

.logo-container .left-eye {
  flex: 1;
  border-radius: 50%;
  position: relative;
}
.logo-container .right-eye {
  flex: 1;
  border-radius: 50%;
  position: relative;
}
.logo-container .pupil {
  background-color: #000;
  flex: 1;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  aspect-ratio: 1/1;
  height: 70%;
  bottom: 0;
  right: 0;
  transition: 0.2s;
}

@media (max-width: 768px) {
  #header .logo a {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  #header .logo .site {
    display: none;
  }
}
