.blog-detail .counter {
  display: flex;
  gap: 20px;
  padding: 10px 0;
  font-size: 14px;
}

.blog-detail .counter ul {
  display: flex;
  gap: 8px;
  padding-left: 0;
}

.blog-detail .counter i {
  color: var(--color-primary);
  padding-right: 5px;
}

.comment-bar {
  padding: 20px 0;
  margin-top: 30px;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.comment-box {
  display: flex;
  gap: 12px;
}

.comment-box .avatar,
.comment .avatar {
  background: black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid gray;
  background-color: transparent;
}

.comment-box .comment-form {
  flex: 1;
}

.comment-box .comment-form .btn {
  font-weight: 600;
  border-radius: 20px;
  font-size: 12px;
}

.comment-box .comment-form textarea {
  border-radius: 20px;
  font-size: 14px;
  line-height: 25px;
  height: 40px;
}

.comment-box .actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px 0;
}

.comment-box .avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.comment .parent {
  display: flex;
  gap: 12px;
}

.comment .child {
  border-left: 1px solid var(--color-border);
  padding: 10px;
  margin-left: 50px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.comment .info {
  flex: 1;
}
.comment .info .name {
  font-size: 14px;
  font-weight: 600;
}
.comment .info .time {
  font-size: 13px;
  padding-left: 10px;
}
.comment .info .message {
  font-size: 14px;
  font-weight: 500;
}

.comment .child .avatar {
  height: 30px;
  width: 30px;
  overflow: hidden;
}

.comment .parent .avatar {
  overflow: hidden;
}

.comment .parent .avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: transparent;
}
.comment .reply {
  margin: 12px 0 12px;
}
.btn-reply {
  font-weight: 600;
  border-radius: 20px;
  font-size: 12px;
}
.comment .info .reply-count {
  font-weight: 600;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 12px;
  color: var(--color-primary);
}

.comment .info .reply-count:hover {
  background-color: rgb(242, 242, 242);
}

.btn-comment {
  background-color: var(--color-primary);
  border: none;
}

.btn-comment:hover {
  background-color: var(--color-primary-hover);
}
