.blog .sidebar {
  padding: 30px;
  box-shadow: 0 4px 16px rgba(var(--color-black-rgb), 0.1);
  border: 1px solid var(--color-border);
}

.blog .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  color: var(--color-title);
}

.blog .sidebar .sidebar-item + .sidebar-item {
  margin-top: 40px;
}

.blog .sidebar .categories ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .categories ul li + li {
  padding-top: 10px;
}

.blog .sidebar .categories ul a {
  color: var(--color-text);
  transition: 0.3s;
}

.blog .sidebar .categories ul a:hover {
  color: var(--color-default);
}

.blog .sidebar .categories ul a span {
  padding-left: 5px;
  color: var(--color-text-light);
  font-size: 14px;
}

.blog .sidebar .categories ul u {
  font-size: 14px;
  cursor: pointer;
}
.blog .sidebar .categories .clean {
  cursor: pointer;
  margin-left: 20px;
  font-size: 25px;
}

.recent-posts .post-item {
  display: flex;
}

.recent-posts .post-item + .post-item {
  margin-top: 20px;
}

.recent-posts img {
  width: 80px;
  margin-right: 15px;
}

.recent-posts h4 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0.3rem;
}

.recent-posts h4 a {
  color: var(--color-text);
  font-size: 14px;
  transition: 0.3s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.recent-posts h4 a:hover {
  color: var(--color-primary);
}

.recent-posts time {
  display: block;
  font-style: italic;
  font-size: 14px;
  color: var(--color-text-light);
}

.blog .sidebar .tags {
  margin-bottom: -10px;
}

.blog .sidebar .tags ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .tags ul li {
  display: inline-block;
}

.blog .sidebar .tags ul a {
  color: var(--color-secondary-light);
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid rgba(var(--color-secondary-light-rgb), 0.8);
  display: inline-block;
  transition: 0.3s;
}

.blog .sidebar .tags ul a:hover {
  color: var(--color-white);
  border: 1px solid var(--color-primary);
  background: var(--color-primary);
}

.blog .sidebar .tags ul a span {
  padding-left: 5px;
  color: rgba(var(--color-secondary-light-rgb), 0.8);
  font-size: 14px;
}
