/*--------------------------------------------------------------
# Error 404
--------------------------------------------------------------*/
.error-404 {
  padding: 30px;
}

.error-404 h1 {
  font-size: 120px;
  font-weight: 700;
  color: #4154f1;
  margin-bottom: 30px;
  line-height: 150px;
}

.error-404 h2 {
  font-size: 20px;
  font-weight: 700;
  color: #012970;
  margin-bottom: 30px;
  text-align: center;
}

.error-404 .btn {
  background: var(--color-primary);
  color: #fff;
  padding: 8px 30px;
}

.error-404 .btn:hover {
  background: #3e4f6f;
}
.error-404 img {
  max-width: 30%;
}
@media (max-width: 992px) {
  .error-404 img {
    max-width: 50%;
  }
  .error-404 h1 {
    font-size: 80px;
  }
}
